.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #A7ED6E;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #376d07;
}

.word {
  color: blue;
  border: '1px solid black';
  padding: '20px';
  margin: '20px'
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.welcome-wrapper,
.game-page-container,
.word-list-page-container,
.statistics-page-container,
.flash-card-page-container {
  padding-top: 80px;
}