.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
    background-color: #8fcaca;
    font-size: medium;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    margin-left: 40px;
    margin-right: auto;
    /* Added margin-right: auto to push navbar-left to the left side */
}

.navbar-right {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.navbar-left a {
    text-decoration: none;
    color: #417676;
    font-size: large;
    font-weight: 500;
}

.navbar-left a:hover {
    color: white;
}

.navbar-right a,
.navbar-right Link {
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

.navbar-right a:hover {
    color: #417676;
}