#word-list-page-header {
    padding: 6rem 2rem;
    padding-bottom: rem;
    background-color: #fffdf5;
    border-bottom: 1rem solid #f08377;
}
#wordlistHeading {
    font-size: 5rem;
    font-weight: 300;
    color: #f08377;
    text-transform: uppercase;
}
#searchInputDiv {
    align-items: center;
    padding: 0.5rem 0;
    padding-top: 3rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#inputGroup-sizing-default {
    background-color: #ffdbcc;
    font-size: 1.25rem;
    color: #c25346;
}
#searchInputDiv input {
    font-size: 1.25rem;
}
#searchInputDiv img {
    max-width: 30px;
    padding: 0;
    margin: 0;
}
#filterContainer {
    display: inline-flex;
}
#filterHeading {
    font-size: 1.5rem;
    color: #c25346;
    padding-right: 2rem;
}
.dropdown-toggle {
    font-size: 1.25rem;
    background-color: #fefee6;
    color: #c25346;
    border: 1px solid #c25346;
}
.dropdown-toggle:hover {
    background-color: #c25346;
    color: #fefee6;
    border: 1px solid #c25346;
}
.dropdown-toggle:active {
    background-color: #c25346;
    color: #fefee6;
    border: 1px solid #c25346;
}
.selectAll label {
    text-decoration: underline;
}
.dropdown-menu {
    padding: 15px;
}
.dropdown-menu .form-check label {
    font-size: 1.2rem;
    color: #c25346;
}
.filterDropdown .badge {
    font-size: 1rem;
    font-weight: 300;
    background-color: #ddf9f9;
    border: 1px solid #5ab6b6;
    color: #1e5c5c;
    margin: 0.5rem;
    padding: 0.5rem;
}
.dropdown {
    margin-bottom: 10px;
}
#word-list-page-content {
    background-color: white;
    padding: 6rem 3rem;
    padding-top: 1rem;
}
.word-list {
    margin-top: 3rem;
}
.word-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.word-item {
    padding: 2rem;
    margin: 0.75rem;
    text-align: left;
    border-radius: 15px;
}
.highlight {
    background-color: yellow;
}
.word-picture {
    max-width: 60%;
}
.word-confidence {
    margin-left: 0;
}
.word-confidence .badge {
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
}
.word-heading {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 0;
}
.word-explanation, .word-definition {
    margin: 0;
}
.word-explanation label, .word-example label{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 500;
    font-size: small;
    color: #6d6c6c;
}
.tag-badge {
    font-size: 0.9rem;
    font-weight: 400;
    background-color: white;
    color: black;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}
.word-button {
    background-color: white;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    border-radius: 15px;
}
.word-button img {
    max-width: 1.5rem;
}
.edit-button, .save-button {
    border: 1px solid blue;
}
.delete-button, .cancel-button {
    border: 1px solid red;
}
.edit-button:hover, .save-button:hover {
    background-color: blue;
    color: white;
}
.delete-button:hover, .cancel-button:hover {
    background-color: red;
    color: white;
}
.add-tag-section img, .remove-tag-section img {
    max-width: 1.5rem;
}
.edit-form label{
    font-size: 0.75rem;
    margin: 0;
}
.edit-form .form-group {
    margin-bottom: 0.5rem;
}
.edit-form input, .edit-form textarea {
    font-size: 0.9rem;
    padding: 0.25rem;
}
.edit-form textarea {
    height: 3rem;
}
.edit-form .edit-tag-badge {
    padding: 0.25rem;
    font-size: 0.75rem;
}
.edit-form #confidence-select {
    display: inline;
    max-width: 30%;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    color: black;
    padding: 0.25rem;
}
